.metadata/
.settings/
1795-curso-spring-data-aula-2.5/
bin/
bytebank/
bytebank-biblioteca/
bytebankcomposto/
bytebank-encapsulado/
bytebank-herdado/
bytebank-herdado-conta/
cliente-webservice/
gerenciador/
gerenciador-de-cursos/
java8/
java-io/
java-pilha/
loja/
loja-virtual-repository/
loja-virtual-view-repository/
mudi/
projeto-jdbc/
projeto-jpa/
servers/
sintaxce-variaveis-e-fluxo/
sintaxe-basica/
spring-boot-admin/
spring-data/
src/
teste/
testeconversao/
teste-de-unidade/
.classpath
.project